.markdown-rendered code,
.cm-inline-code {
  background-color: var(--code-background, rgb(87, 86, 83)) !important;
  color: #D14D41 !important;
  /* padding: 2px 6px !important; */
  border-radius: 4px !important;
  /* border: 1px solid rgba(128, 128, 128, 0.25) !important; */
  font-family: var(--font-monospace) !important;
  font-size: 0.9em !important;
}